@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(252, 227, 231);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(252, 227, 231);
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 17, 17);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 12, 12);
}
